<div class="Titulo">
    <h1>
        ¡Cuidemos los oceanos!
        <br>
        Save the ocean!
        <br>
        바다를 지켜요!
    </h1>
</div>

<div class="ContenidoGeneral">
    <div class="ContenidoIzquierdo">
        <div class="InfoUno">
            <div class="izquierda">
                <img class="GifLow Escena1" src="assets/Imagenes_Nivel3/Escena1.gif" alt="MundoProductor">
                <div class="AudiosIconos">
                    <span class="material-symbols-outlined" (click)="reproduceAudio('assets/Text1.mp3')">   play_circle  </span>
                    <span class="material-symbols-outlined"> pause </span>
                </div>
            </div>
        
            <div class="derecha">
                <p>
                    ¿Sabías que cuando tiramos basura en las calles o ríos, muchas veces esa basura termina en el <strong> mar </strong>? 
                    <br>
                    <br>
                    Bolsas plásticas, botellas, latas y otros desechos pueden viajar largas distancias hasta llegar al océano, donde viven muchos animales como peces, tortugas y delfines. 
                    <br>
                    <br>
                    Esta basura <strong> contamina el agua </strong> y puede hacerle daño a los seres vivos que allí habitan.
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="ContenidoDerecho">
        <div class="InfoDos">
            <div class="izquierda">
                <img class="GifLow Escena2" src="assets/Imagenes_Nivel3/Escena2.png" alt="Playa">
                <br>
                <div class="AudiosIconos">
                    <span class="material-symbols-outlined" (click)="reproduceAudio('assets/Text2.mp3')">        play_circle         </span>
                    <span class="material-symbols-outlined"> pause </span>
                </div>
            </div>
        
            <div class="derecha">
                <p>
                    Los peces y otros animales marinos pueden <strong> confundir la basura con comida </strong> y tragársela, lo que les causa enfermedades o incluso la muerte. <br>
                    Además, la contaminación ensucia el agua que todos necesitamos para vivir. 
                    <br>
                    <br>
                    Por eso, es muy importante aprender desde pequeños a no tirar basura, a reciclar y a cuidar nuestro planeta.
                </p>
            </div>
        </div>
        
        <div class="InfoTres">
            <div class="izquierda">
                <img class="GifLow Escena3" src="assets/Imagenes_Nivel3/Submarino.gif" alt="Submarino">
                <div class="AudiosIconos">
                    <span class="material-symbols-outlined" (click)="reproduceAudio('assets/Text3.mp3')">        play_circle         </span>
                    <span class="material-symbols-outlined"> pause </span>
                </div>
            </div>
        
            <div class="derecha">
                <p>
                    Ahora que ya sabes lo importante que es mantener limpio el mar, te invitamos a jugar un divertido juego. En él serás un personaje que nada en el océano y recoge las bolsas de basura que aparecen en el agua. 
                    <br>
                    <br>
                    ¡Tu misión es limpiar todo el mar y ayudar a los peces a vivir felices! 
                    <br>
                    <br>
                    ¿Estás listo para convertirte en un héroe del océano?</p>
            
                    <button type="submit"> Jugar </button>
            </div>
        </div>
    </div>
</div>



